In [121]:
import pandas as pd
import numpy as np

In [51]:
a=pd.read_csv('대분류세분류테이블.csv',encoding='cp949')

In [112]:
b=pd.read_csv('17기존고객.csv',encoding='cp949')

In [50]:
c=pd.read_csv('16기존고객.csv',encoding='cp949')

In [52]:
h=a[(a['소비재분류']=='기타')]

In [123]:
# 기타 구매횟수
df_pivot_f = pd.pivot_table(h,                # 피벗할 데이터프레임
                     index = '고객번호',    # 행 위치에 들어갈 열
                     columns = 'QUARTER',    # 열 위치에 들어갈 열
                     values = '영수증번호',     # 데이터로 사용할 열
                     aggfunc = 'count')   # 데이터 집계함수

In [124]:
df_pivot_f = df_pivot_f.fillna(0)

In [125]:
df_pivot_f2 = df_pivot_f.drop(['8Q'],axis=1)

In [126]:
df_pivot_f2['기타구매횟수'] = df_pivot_f2['1Q'] + df_pivot_f2['2Q'] + df_pivot_f2['3Q'] + df_pivot_f2['4Q'] + df_pivot_f2['5Q']+ df_pivot_f2['6Q']+df_pivot_f2['7Q']

In [127]:
df_pivot_f2 = df_pivot_f2.drop(['1Q','2Q','3Q','4Q','5Q','6Q','7Q'],axis=1)

In [128]:
# 17기존고객이랑 합침
tree=pd.merge(b, df_pivot_f2,on='고객번호', how='left')

In [129]:
# 17기존고객의 기타사용횟수
tree = tree.fillna(0)

In [130]:
tree

        고객번호  기타구매횟수
0          1    52.0
1          2    16.0
2          3     0.0
3          4    49.0
4          6    51.0
...      ...     ...
18873  19333   117.0
18874  19334    16.0
18875  19335   127.0
18876  19336   167.0
18877  19337     0.0

[18878 rows x 2 columns]

In [131]:
df_pivot_f3 = df_pivot_f.drop(['8Q','7Q'],axis=1)

In [132]:
df_pivot_f3['기타구매횟수'] = df_pivot_f3['1Q'] + df_pivot_f3['2Q'] + df_pivot_f3['3Q'] + df_pivot_f3['4Q'] + df_pivot_f3['5Q']+ df_pivot_f3['6Q']

In [133]:
df_pivot_f3 = df_pivot_f3.drop(['1Q','2Q','3Q','4Q','5Q','6Q'],axis=1)

In [134]:
tree2=pd.merge(c, df_pivot_f3,on='고객번호', how='left')

In [135]:
tree2 = tree2.fillna(0)

In [136]:
# 16기
tree2

        고객번호  기타구매횟수
0          1    45.0
1          2    12.0
2          3     0.0
3          4    38.0
4          5     3.0
...      ...     ...
18892  19333   106.0
18893  19334    16.0
18894  19335   106.0
18895  19336   151.0
18896  19337     0.0

[18897 rows x 2 columns]

In [137]:
# 구매금액
df_pivot_s2 = pd.pivot_table(h,                # 피벗할 데이터프레임
                     index = '고객번호',    # 행 위치에 들어갈 열
                     columns = 'QUARTER',    # 열 위치에 들어갈 열
                     values = '구매금액',     # 데이터로 사용할 열
                     aggfunc = 'sum')   # 데이터 집계함수

In [138]:
df_pivot_s2 = df_pivot_s2.fillna(0)

In [139]:
df_pivot_s3 = df_pivot_s2.drop(['8Q'],axis=1)

In [140]:
df_pivot_s3.columns = ['기타1','기타2','기타3','기타4','기타5','기타6','기타7']

In [141]:
df_pivot_s3 = df_pivot_s3.reset_index()

In [142]:
tree=pd.merge(tree, df_pivot_s3,on='고객번호', how='left')

In [118]:
tree = tree.fillna(0)

In [120]:
import csv
tree.to_csv('기타테이블17기.csv',mode="w",encoding='euc-kr',index=False)

In [105]:
df_pivot_s4 = df_pivot_s2.drop(['8Q','7Q'],axis=1)

In [106]:
df_pivot_s4.columns = ['기타1','기타2','기타3','기타4','기타5','기타6']

In [107]:
df_pivot_s4 = df_pivot_s4.reset_index()

In [108]:
tree2=pd.merge(tree2, df_pivot_s4,on='고객번호', how='left')

In [109]:
tree2 = tree2.fillna(0)

In [111]:
import csv
tree2.to_csv('기타테이블16기.csv',mode="w",encoding='euc-kr',index=False)