In [40]:
import pandas as pd
import numpy as np

In [2]:
a=pd.read_csv('대분류세분류테이블.csv',encoding='cp949')

In [48]:
b=pd.read_csv('17기존고객.csv',encoding='cp949')

In [4]:
c=pd.read_csv('16기존고객.csv',encoding='cp949')

In [5]:
h=a[(a['소비재분류']=='전문품')]

In [50]:
# 선매품 구매횟수
df_pivot_f1 = pd.pivot_table(h,                # 피벗할 데이터프레임
                     index = '고객번호',    # 행 위치에 들어갈 열
                     columns = 'QUARTER',    # 열 위치에 들어갈 열
                     values = '영수증번호',     # 데이터로 사용할 열
                     aggfunc = 'count')   # 데이터 집계함수

In [51]:
df_pivot_f1 = df_pivot_f1.fillna(0)

In [8]:
# 8기 드랍 테이블
df_pivot_f2 = df_pivot_f1.drop(['8Q'],axis=1)

In [9]:
df_pivot_f2['전문품구매횟수'] = df_pivot_f2['1Q'] + df_pivot_f2['2Q'] + df_pivot_f2['3Q'] + df_pivot_f2['4Q'] + df_pivot_f2['5Q']+ df_pivot_f2['6Q'] + df_pivot_f2['7Q']

In [10]:
df_pivot_f3 = df_pivot_f2.drop(['1Q','2Q','3Q','4Q','5Q','6Q','7Q'],axis=1)

In [52]:
tree=pd.merge(b, df_pivot_f3,on='고객번호', how='left')

In [53]:
tree = tree.fillna(0)

In [54]:
#17기 전문품 구매횟수
tree

        고객번호  전문품구매횟수
0          1      3.0
1          2      5.0
2          3      0.0
3          4      1.0
4          6      5.0
...      ...      ...
18873  19333      0.0
18874  19334      0.0
18875  19335      0.0
18876  19336      4.0
18877  19337      0.0

[18878 rows x 2 columns]

In [17]:
df_pivot_f4 = df_pivot_f1.drop(['8Q','7Q'],axis=1)

In [18]:
df_pivot_f4['전문품구매횟수'] = df_pivot_f4['1Q'] + df_pivot_f4['2Q'] + df_pivot_f4['3Q'] + df_pivot_f4['4Q'] + df_pivot_f4['5Q']+ df_pivot_f4['6Q']

In [19]:
df_pivot_f4 = df_pivot_f4.drop(['1Q','2Q','3Q','4Q','5Q','6Q'],axis=1)

In [20]:
tree2=pd.merge(c, df_pivot_f4,on='고객번호', how='left')

In [21]:
tree2 = tree2.fillna(0)

In [22]:
tree2

        고객번호  전문품구매횟수
0          1      3.0
1          2      5.0
2          3      0.0
3          4      0.0
4          5      1.0
...      ...      ...
18892  19333      0.0
18893  19334      0.0
18894  19335      0.0
18895  19336      2.0
18896  19337      0.0

[18897 rows x 2 columns]

In [23]:
# 구매금액
df_pivot_s2 = pd.pivot_table(h,                # 피벗할 데이터프레임
                     index = '고객번호',    # 행 위치에 들어갈 열
                     columns = 'QUARTER',    # 열 위치에 들어갈 열
                     values = '구매금액',     # 데이터로 사용할 열
                     aggfunc = 'sum')   # 데이터 집계함수

In [25]:
df_pivot_s2 = df_pivot_s2.fillna(0)

In [26]:
df_pivot_s3 = df_pivot_s2.drop(['8Q'],axis=1)

In [27]:
df_pivot_s3.columns = ['전문품1','전문품2','전문품3','전문품4','전문품5','전문품6','전문품7']

In [28]:
df_pivot_s3 = df_pivot_s3.reset_index()

In [55]:
tree=pd.merge(tree, df_pivot_s3,on='고객번호', how='left')

In [56]:
tree = tree.fillna(0)

In [58]:
import csv
tree.to_csv('전문품테이블17기.csv',mode="w",encoding='euc-kr',index=False)

In [33]:
df_pivot_s4 = df_pivot_s2.drop(['8Q','7Q'],axis=1)

In [34]:
df_pivot_s4.columns = ['전문품1','전문품2','전문품3','전문품4','전문품5','전문품6']

In [35]:
df_pivot_s4 = df_pivot_s4.reset_index()

In [36]:
tree2=pd.merge(tree2, df_pivot_s4,on='고객번호', how='left')

In [37]:
tree2 = tree2.fillna(0)

In [39]:
import csv
tree2.to_csv('전문품테이블16기.csv',mode="w",encoding='euc-kr',index=False)