In [4]:
import pandas as pd
import cx_Oracle
import csv
import numpy as np
a = pd.read_csv('sample_re.csv')
a

        고객번호  고객번호.1  그룹
0          1       1  상위
1          2       2  보통
2          3       3  보통
3          4       4  상위
4          6       6  하위
...      ...     ...  ..
18861  19333   19333  보통
18862  19334   19334  하위
18863  19335   19335  보통
18864  19336   19336  상위
18865  19337   19337  상위

[18866 rows x 3 columns]

In [ ]:
a.drop(['고객번호.1'],axis=1,inplace=True)

In [34]:
a

        고객번호  그룹
0          1  상위
1          2  보통
2          3  보통
3          4  상위
4          6  하위
...      ...  ..
18861  19333  보통
18862  19334  하위
18863  19335  보통
18864  19336  상위
18865  19337  상위

[18866 rows x 2 columns]

In [45]:
from sklearn.preprocessing import LabelEncoder
depts = ['하위','보통','상위','최상위']

# LabelEncoder를 객체로 생성
encoder = LabelEncoder()

# fit, transform 메소드를 통한 레이블 인코딩
encoder.fit(depts)
labels = encoder.transform(depts)

print('레이블 인코딩 클래스 : ',encoder.classes_) # 인코딩 클래스는 classes_속성값으로 확인
print('레이블 인코딩 변환값 : ',labels)

레이블 인코딩 클래스 :  ['보통' '상위' '최상위' '하위']
레이블 인코딩 변환값 :  [3 0 1 2]

In [46]:
a['그룹'] = encoder.fit_transform(a['그룹'])
a

        고객번호  그룹
0          1   1
1          2   0
2          3   0
3          4   1
4          6   3
...      ...  ..
18861  19333   0
18862  19334   3
18863  19335   0
18864  19336   1
18865  19337   1

[18866 rows x 2 columns]

In [47]:
a.to_csv('지역라벨인코딩.csv')

In [58]:
import pandas as pd
import openpyxl
import csv
aa = pd.read_csv('/data/3.19.csv')
aa.head()

FileNotFoundError: [Errno 2] No such file or directory: '/data/3.19.csv'