In [18]:
import pandas as pd
import numpy as np
import csv
import warnings
warnings.filterwarnings('ignore')
season2 = pd.read_csv('data/동연&재호.csv')
season2

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,15_3구매경험,15_4구매경험,14년상반기금액,15년하반기금액,매출증감,증감확인,14년1분기금액,15년4분기금액,매출증감.1,증감확인.1
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,78.0,8995824.0,...,유,유,20104027.0,13167707.0,-20.8,감소,8995824.0,4375707.0,-34.6,감소
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,119.0,13898280.0,...,유,유,24404905.0,25505802.0,2.2,감소,13898280.0,9915866.0,-16.7,감소
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,유,유,862890.0,687396.0,-11.3,감소,297954.0,213238.0,-16.6,감소
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,유,유,5133530.0,3725978.0,-15.9,감소,1288767.0,1330359.0,1.6,감소
4,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,219.0,2131469.0,...,유,유,5340472.0,6609348.0,10.6,증가,2131469.0,2647175.0,10.8,증가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,유,유,1544832.0,713812.0,-36.8,감소,603348.0,429998.0,-16.8,감소
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,유,유,3608072.0,931079.0,-59.0,감소,820744.0,384952.0,-36.1,감소
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,230.0,922771.0,...,유,유,3789618.0,3411538.0,-5.3,감소,922771.0,1661776.0,28.6,증가
18864,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,51.0,442432.0,...,유,유,3864248.0,11208979.0,48.7,증가,442432.0,4088791.0,80.5,증가
18865,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,267.0,16257.0,...,유,유,90393.0,2285478.0,92.4,증가,16257.0,915458.0,96.5,증가

In [20]:
# 감소된 고객
a = season2[season2['증감확인']=='감소']

In [21]:
# 증가된 고객
b = season2[season2['증감확인']=='증가']

0         True
1         True
2         True
3         True
4        False
         ...
18861     True
18862     True
18863     True
18864    False
18865    False
Name: 증감확인, Length: 18866, dtype: bool

In [ ]:
a=a.drop('14년1분기금액',axis=1)

In [26]:
a=a.drop('15년4분기금액',axis=1)

In [28]:
a=a.drop('매출증감',axis=1)

In [31]:
a=a.drop('매출증감.1',axis=1)

In [32]:
a=a.drop('증감확인.1',axis=1)

In [33]:
a

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험,14년상반기금액,15년하반기금액,증감확인
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,78.0,8995824.0,...,유,유,유,유,유,유,유,20104027.0,13167707.0,감소
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,119.0,13898280.0,...,유,유,유,유,유,유,유,24404905.0,25505802.0,감소
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,유,유,유,유,유,유,유,862890.0,687396.0,감소
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,유,유,유,유,유,유,유,5133530.0,3725978.0,감소
8,10,462.0,412.0,390.0,444.0,469.0,449.0,454.0,328.0,2504458.0,...,유,유,유,유,유,유,유,5168100.0,3896519.0,감소
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18857,19329,140.0,253.0,142.0,185.0,196.0,149.0,170.0,157.0,612960.0,...,유,유,유,유,유,유,유,1846722.0,1651328.0,감소
18860,19332,215.0,608.0,337.0,346.0,304.0,391.0,412.0,198.0,1511254.0,...,유,유,유,유,유,유,유,4923306.0,3057821.0,감소
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,유,유,유,유,유,유,유,1544832.0,713812.0,감소
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,유,유,유,유,유,유,유,3608072.0,931079.0,감소
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,230.0,922771.0,...,유,유,유,유,유,유,유,3789618.0,3411538.0,감소

In [36]:
a['14년상반기금액'].sum()

101129444441.0

In [52]:
# 감소고객
a['Unnamed: 0'].count()

9640

In [53]:
# 증가고객
b['Unnamed: 0'].count()

9226

In [37]:
a['15년하반기금액'].sum()

63481009603.0

In [38]:
b['14년상반기금액'].sum()

57453205862.0

In [39]:
b['15년하반기금액'].sum()

104291291131.0

In [47]:
season2['14년상반기금액'].sum()

158582650303.0

In [49]:
season2['15년하반기금액'].sum()

167772300734.0

In [55]:
season3 = pd.read_csv('data/3.19.csv',encoding = 'cp949')
season3

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1기구매비율(%),2기구매비율(%),3기구매비율(%),4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,0.0,11.46,14.63,13.22,14.90,8.43,10.15,18.56,8.65,0
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,0.0,10.30,9.24,16.44,6.49,17.57,11.73,16.87,11.36,0
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,0.0,9.88,12.45,13.71,11.11,14.96,11.62,15.71,10.56,0
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,0.0,9.35,14.65,21.83,12.53,9.71,9.85,13.69,8.39,0
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,0.0,8.86,13.33,16.02,11.16,12.32,14.81,13.86,9.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,5.0,11.51,11.72,15.37,7.99,13.80,15.52,13.97,10.12,0
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,0.0,10.03,9.05,9.48,11.36,11.80,7.81,27.53,12.94,0
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,0.0,13.37,13.37,13.17,9.74,10.97,17.91,11.52,9.94,1
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,0.0,9.27,7.35,7.48,11.51,7.79,19.75,23.40,13.44,1
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,0.0,8.18,12.43,12.43,14.14,13.50,11.38,15.87,12.07,1

In [62]:
t= season3[['고객번호','분기증감확인']]
t

        고객번호  분기증감확인
0          1       0
1          2       0
2          3       0
3          4       0
4          6       1
...      ...     ...
18861  19333       0
18862  19334       0
18863  19335       1
18864  19336       1
18865  19337       1

[18866 rows x 2 columns]

In [63]:
t.to_csv('sample_rere.csv')

In [43]:
season4= pd.read_csv('data/매출감소.csv')
season4

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험,매출증감,증감확인
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,78.0,8995824.0,...,유,유,유,유,유,유,유,유,-34.6,감소
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,119.0,13898280.0,...,유,유,유,유,유,유,유,유,-16.7,감소
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,유,유,유,유,유,유,유,유,-16.6,감소
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,유,유,유,유,유,유,유,유,1.6,감소
4,10,462.0,412.0,390.0,444.0,469.0,449.0,454.0,328.0,2504458.0,...,유,유,유,유,유,유,유,유,-26.7,감소
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10625,19325,79.0,61.0,46.0,1.0,110.0,143.0,104.0,11.0,2228260.0,...,유,유,유,유,유,유,유,유,-71.7,감소
10626,19327,139.0,268.0,262.0,239.0,246.0,113.0,69.0,13.0,614454.0,...,유,유,유,유,유,유,유,유,-79.2,감소
10627,19332,215.0,608.0,337.0,346.0,304.0,391.0,412.0,198.0,1511254.0,...,유,유,유,유,유,유,유,유,-35.0,감소
10628,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,유,유,유,유,유,유,유,유,-16.8,감소
10629,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,유,유,유,유,유,유,유,유,-36.1,감소