In [1]:
import pandas as pd
import numpy as np

In [3]:
z= pd.read_excel('편의품테이블17기.xlsx')

In [2]:
z1= pd.read_excel('선매품17.xlsx')

In [5]:
z['편의품증감'] = np.where(z['편의품등급1']>=z['편의품등급7'],'0','1')

In [7]:
z.columns

Index(['고객번호', '편의품등급1', '편의품등급2', '편의품등급3', '편의품등급4', '편의품등급5', '편의품등급6',
       '편의품등급7', '편의품증감1', '편의품증감2', '편의품증감3', '편의품증감4', '편의품증감5', '편의품증감6',
       '변동지수', '편의품증감'],
      dtype='object')

In [8]:
z = z.drop(['편의품등급1', '편의품등급2', '편의품등급3', '편의품등급4', '편의품등급5', '편의품등급6',
       '편의품등급7', '편의품증감1', '편의품증감2', '편의품증감3', '편의품증감4', '편의품증감5', '편의품증감6'],axis=1)

In [9]:
z

        고객번호  변동지수 편의품증감
0          1     9     1
1          2     2     1
2          3     3     0
3          4     8     1
4          6     8     0
...      ...   ...   ...
18873  19333     8     1
18874  19334    12     1
18875  19335     6     0
18876  19336     8     0
18877  19337     4     0

[18878 rows x 3 columns]

In [10]:
z1['선매품증감'] = np.where(z1['선매품등급1']>=z1['선매품등급7'],'0','1')

In [11]:
z1.columns

Index(['고객번호', '선매품등급1', '선매품등급2', '선매품등급3', '선매품등급4', '선매품등급5', '선매품등급6',
       '선매품등급7', '선매품증감1', '선매품증감2', '선매품증감3', '선매품증감4', '선매품증감5', '선매품증감6',
       '변동지수', '선매품증감'],
      dtype='object')

In [12]:
z1 = z1.drop(['선매품등급1', '선매품등급2', '선매품등급3', '선매품등급4', '선매품등급5', '선매품등급6',
       '선매품등급7', '선매품증감1', '선매품증감2', '선매품증감3', '선매품증감4', '선매품증감5', '선매품증감6'],axis=1)

In [13]:
z1

        고객번호  변동지수 선매품증감
0          1     0     0
1          2     3     0
2          3     4     0
3          4     4     0
4          6     2     0
...      ...   ...   ...
18873  19333     5     1
18874  19334     6     0
18875  19335     5     0
18876  19336     5     0
18877  19337     6     0

[18878 rows x 3 columns]

In [14]:
hp = pd.merge(z,z1,on='고객번호',how ='left')

In [16]:
hp.columns=['고객번호','편의품변동','편의품증감','선매품변동','선매품증감']

In [19]:
import csv
hp.to_csv('대분류증감16.csv',mode="w",encoding='euc-kr',index=False)

In [30]:
z= pd.read_excel('편의품테이블17기.xlsx')

In [27]:
z.columns

Index(['고객번호', '편의품등급1', '편의품등급2', '편의품등급3', '편의품등급4', '편의품등급5', '편의품등급6',
       '편의품등급7', '편의품증감1', '편의품증감2', '편의품증감3', '편의품증감4', '편의품증감5', '편의품증감6',
       '변동지수', '편의품증감'],
      dtype='object')

In [32]:
z['편의품증감'] = np.where(z['편의품등급1']>=z['편의품등급6'],'0','1')

In [33]:
z = z.drop(['편의품등급1', '편의품등급2', '편의품등급3', '편의품등급4', '편의품등급5', '편의품등급6',
       '편의품등급7', '편의품증감1', '편의품증감2', '편의품증감3', '편의품증감4', '편의품증감5', '편의품증감6'],axis=1)

In [34]:
z

        고객번호  변동지수 편의품증감
0          1    14     1
1          2     4     0
2          3     4     1
3          4     9     0
4          6    13     1
...      ...   ...   ...
18873  19333     8     1
18874  19334    14     1
18875  19335     8     0
18876  19336     9     0
18877  19337     7     0

[18878 rows x 3 columns]

In [31]:
z1= pd.read_excel('선매품17.xlsx')

In [36]:
z1.columns

Index(['고객번호', '선매품등급1', '선매품등급2', '선매품등급3', '선매품등급4', '선매품등급5', '선매품등급6',
       '선매품등급7', '선매품증감1', '선매품증감2', '선매품증감3', '선매품증감4', '선매품증감5', '선매품증감6',
       '변동지수', '선매품증감'],
      dtype='object')

In [35]:
z1['선매품증감'] = np.where(z1['선매품등급1']>=z1['선매품등급6'],'0','1')

In [37]:
z1 = z1.drop(['선매품등급1', '선매품등급2', '선매품등급3', '선매품등급4', '선매품등급5', '선매품등급6',
       '선매품등급7', '선매품증감1', '선매품증감2', '선매품증감3', '선매품증감4', '선매품증감5', '선매품증감6'],axis=1)

In [38]:
z1

        고객번호  변동지수 선매품증감
0          1     0     0
1          2     4     1
2          3     4     0
3          4     5     0
4          6     3     0
...      ...   ...   ...
18873  19333     6     1
18874  19334     9     0
18875  19335     6     0
18876  19336     6     0
18877  19337     6     0

[18878 rows x 3 columns]

In [39]:
hp = pd.merge(z,z1,on='고객번호',how ='left')

In [40]:
hp.columns=['고객번호','편의품변동','편의품증감','선매품변동','선매품증감']

In [41]:
import csv
hp.to_csv('대분류증감17.csv',mode="w",encoding='euc-kr',index=False)

In [47]:
t = pd.read_csv('대분류증감17.csv',encoding='cp949')

In [48]:
p = pd.read_csv('3.22.csv',encoding='cp949')

In [50]:
p = p[['고객번호']]

In [51]:
q = pd.merge(p,t,on='고객번호',how='left')

In [53]:
import csv
q.to_csv('대분류증감17.csv',mode="w",encoding='euc-kr',index=False)

In [54]:
t = pd.read_csv('대분류증감17.csv',encoding='cp949')

In [55]:
t

        고객번호  편의품변동  편의품증감  선매품변동  선매품증감
0          1     14      1      0      0
1          2      4      0      4      1
2          3      4      1      4      0
3          4      9      0      5      0
4          6     13      1      3      0
...      ...    ...    ...    ...    ...
18861  19333      8      1      6      1
18862  19334     14      1      9      0
18863  19335      8      0      6      0
18864  19336      9      0      6      0
18865  19337      7      0      6      0

[18866 rows x 5 columns]