In [1]:
import pandas as pd
import numpy

p= pd.read_csv('./data/추천알고리즘용.csv',encoding='cp949')

p = p.set_index('고객번호')
p

,가구류_구매,화장품_구매,기호품_구매,레저취미_구매,문구류_구매,식품_구매,의류_구매,가구등급,화장품등급,기호품등급,레저취미등급,문구류등급,식품등급,의류등급
고객번호,,,,,,,,,,,,,,
1,1,1,1,1,0,1,1,1.0,2.0,4.0,2.0,0.0,4.0,1.0
2,1,1,1,1,0,1,1,1.0,1.0,3.0,1.0,0.0,4.0,2.0
3,0,0,1,0,0,1,1,0.0,0.0,1.0,0.0,0.0,4.0,5.0
4,1,1,1,1,0,1,1,3.0,5.0,3.0,3.0,0.0,4.0,2.0
6,1,1,1,1,1,1,1,2.0,2.0,5.0,4.0,5.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,0,0,1,1,1,1,1,0.0,0.0,2.0,5.0,3.0,4.0,5.0
19334,1,1,1,1,1,1,1,4.0,4.0,4.0,3.0,1.0,1.0,4.0
19335,1,1,1,1,1,1,1,1.0,2.0,4.0,1.0,1.0,3.0,3.0
19336,1,1,1,0,0,1,1,5.0,3.0,5.0,0.0,0.0,5.0,2.0
19337,0,0,1,1,1,1,1,0.0,0.0,1.0,5.0,5.0,3.0,5.0

In [2]:
p_T = p.transpose()
p_T.head(3)

고객번호,1,2,3,4,6,7,8,9,10,11,...,19328,19329,19330,19331,19332,19333,19334,19335,19336,19337
가구류_구매,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
화장품_구매,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
기호품_구매,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)

item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(14, 14)

,가구류_구매,화장품_구매,기호품_구매,레저취미_구매,문구류_구매,식품_구매,의류_구매,가구등급,화장품등급,기호품등급,레저취미등급,문구류등급,식품등급,의류등급
가구류_구매,1.000000,0.898026,0.895884,0.882156,0.820832,0.895499,0.897397,0.908199,0.764296,0.835587,0.752997,0.717325,0.836873,0.735943
화장품_구매,0.898026,1.000000,0.986214,0.941519,0.878406,0.987760,0.986023,0.813273,0.906183,0.894876,0.844926,0.791622,0.896080,0.881454
기호품_구매,0.895884,0.986214,1.000000,0.945485,0.879255,0.998249,0.995367,0.813716,0.894202,0.904412,0.853547,0.795020,0.901293,0.899551

In [4]:
item_sim_df["기호품등급"].sort_values(ascending=False)[:6]

기호품등급     1.000000
기호품_구매    0.904412
식품_구매     0.902829
의류_구매     0.901127
화장품_구매    0.894876
식품등급      0.892471
Name: 기호품등급, dtype: float64

In [5]:
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [6]:

p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

,가구류_구매,화장품_구매,기호품_구매,레저취미_구매,문구류_구매,식품_구매,의류_구매,가구등급,화장품등급,기호품등급,레저취미등급,문구류등급,식품등급,의류등급
고객번호,,,,,,,,,,,,,,
1,1.421967,1.429230,1.430223,1.423404,1.361237,1.430286,1.429479,1.404427,1.435862,1.488905,1.436509,1.352400,1.493706,1.399370
2,1.285413,1.290360,1.292895,1.280780,1.233129,1.293213,1.293110,1.274044,1.287916,1.336049,1.281228,1.221825,1.345800,1.276427
3,0.891104,0.932325,0.940352,0.910772,0.891679,0.941487,0.942430,0.890884,0.942729,0.945506,0.915243,0.888973,0.962625,0.984935

In [7]:
from sklearn.metrics import mean_squared_error


def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 1.9889625393459764

In [8]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [9]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_15500/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_15500/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 1.9889625393459764

In [10]:
user_p_id =p.loc[1,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:12]

기호품등급      4.0
식품등급       4.0
화장품등급      2.0
레저취미등급     2.0
가구류_구매     1.0
화장품_구매     1.0
기호품_구매     1.0
레저취미_구매    1.0
식품_구매      1.0
의류_구매      1.0
가구등급       1.0
의류등급       1.0
Name: 1, dtype: float64

In [11]:

def get_unseen_movies(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_seen = user_p[user_p > 0].index.tolist()

    movies_list = p.columns.tolist()

    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [12]:
def recomm_movie_by_userid(pred_df,고객번호, unseen_list, top_n=20):
    recomm_movies = pred_df.loc[고객번호, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = get_unseen_movies(p,9)

recomm_movies = recomm_movie_by_userid(p_pred_matrix, 9, unseen_list, top_n=20)

recomm_movies = pd.DataFrame(data=recomm_movies.values, index = recomm_movies.index,
                            columns=['pred_score'])
recomm_movies

        pred_score
문구류_구매    1.615350
문구류등급     1.606132